*.*~
*[-\.]lock.json

.vscode
.vs
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Build results
dist